services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: marketplace_db
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"

  node:
    image: "node:22-alpine3.20"
    user: "node"
    working_dir: /home/node/app
    volumes:
      - ./apps/api:/home/node/app
    depends_on:
      - db
    expose:
      - "8080"
    ports: 
      - "8080:8080"
    entrypoint: sh -c 'rm -rf node_modules && npm install && npx prisma db push && npx prisma generate && npm run seed-db && npm run start:dev'

  frontend:
    image: "node:22-alpine"
    user: "node"
    working_dir: /home/node/web
    volumes:
      - ./apps/web:/home/node/web
    depends_on:
      - node
    expose:
      - "3001"
    ports: 
      - "3001:3001"
    entrypoint: sh -c 'npm install && npm run dev'

  prisma:
    image: "node:22-alpine"
    user: "node"
    working_dir: /home/node/app
    volumes:
      - ./apps/api:/home/node/app
    depends_on:
      - node
    expose:
      - "5555"
    ports: 
      - "5555:5555"
    entrypoint: sh -c 'npx prisma studio'
